* {
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    
}

body {
    background-image: radial-gradient(#20404e, #08181f);
    background-repeat: no-repeat;
}

.main{
}

.case {
    background-color: #00090f;
    max-width: 300px;
    border-radius: 5%;
    margin-top: 25%;
    margin-bottom: 10%;
}

.display {
    background-color: #00090f;
    border-radius: 15px;
    height: 95px;
}

.buttondiv {
    display: flex;
}

.buttonbox, .buttonbox-diff, .buttonbox-equal{
    background-color: aquamarine;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.buttonbox-diff {
    background-color: crimson;
}