* {
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-image: radial-gradient(#20404e, #08181f);
    background-repeat: no-repeat;
}

.main{
}

.case {
    background-color: #00090f;
    max-width: 300px;
    border-radius: 5%;
    margin-top: 25%;
    margin-bottom: 10%;
}

.display {
    background-color: #00090f;
    border-radius: 15px;
    height: 95px;
}

.dash {
    height: 1px;
    width: 90%;
    background-color: #65a8c5;
}

.buttondiv {
    display: flex;
}

.buttonbox, .buttonbox-diff, .buttonbox-equal{
    color: rgb(22, 54, 90);
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.buttonbox:hover{
    cursor: pointer;
    color: rgb(44, 103, 170);
}

.buttonbox-diff {
    color: #65a8c5;
}

.buttonbox-diff:hover{
    cursor: pointer;
    color: #dbf2fc
}

.buttonbox-equal {
    background-color: cadetblue;
}

.buttonbox-equal:hover {
    cursor: pointer;
    background-color: rgb(170, 229, 231);
}